body {
    width: 230px;
}

input#search {
    padding: 8px;
    font-size: 14px;
    width: 100%;
}

select#saved-domains {
    width: 100%;
}

input#new-domain {
    width: 74%;
}

select#search-engine {
    width: 77%;
}

select#domains-list {
    min-width: 100%;
    width: 100%;
    padding: 4px;
}

div.buttons button {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
}

p {
    margin-top: 8px;
    margin-bottom: 0px;
}

button#collapse-options {
    background-color: #eee;
    color: #444;
    padding: 4px;
    margin-top: 6px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
}

button#collapse-options:hover {
    background-color: rgb(212, 212, 212);
    color: rgb(51, 51, 51);
}
